/* Style untuk header */
.header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.logo {
    width: 100px; /* Atur ukuran logo sesuai kebutuhan */
    height: auto;
}

/* Style untuk container */
.container {
    max-width: 800px; /* Atur lebar maksimum sesuai kebutuhan */
    margin: 0 auto;
    padding: 20px;
}

/* Style untuk gambar-container */
#gambar-container {
    text-align: center;
    margin-bottom: 20px;
}

#gambar-container img {
    width: 50px; /* Atur ukuran gambar sesuai kebutuhan */
    margin: 0 10px;
    cursor: pointer;
}

/* Style untuk form */
form {
    text-align: left;
}

/* Style untuk input */
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

/* Style untuk submit button */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Style untuk penghasilan-container, tabungan-container, dagangan-container, dan emas-container */
#income-container,
#savings-container,
#trading-container,
#gold-container {
    display: none;
}

/* Style untuk menampilkan container yang aktif */
#income-container[style*="display: block"],
#savings-container[style*="display: block"],
#trading-container[style*="display: block"],
#gold-container[style*="display: block"] {
    display: block;
}
